* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

body {
    height: 100vh;
    background-color: #f4f4f4;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}

.containerProfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #f9f7f5;
    padding: 20px 0;
    gap: 20px;
}

.containerProfil .profilTitle {
    font-size: 1.5rem;
    font-weight: bold;
    color: #754F31;
    text-align: center;
}

.containerProfil .userPhotos {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.containerProfil .userPhotos img {
    width: 100%;
    height: auto;
}


.containerProfil .userInfo {
    text-align: center;
    color: #000;
    font-size: 1rem;
}

.containerProfil .userInfo h1 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.containerProfil .userInfo p {
    font-size: 0.9rem;
    color: #666;
}

.optionContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding: 0 20px;
}

.optionContainer div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    font-size: 1rem;
    font-weight: bold;
    color: #754F31;
}

.optionContainer div span {
    color: #754F31;
    font-size: 1rem;
    font-weight: bold;
}

.optionContainer div button {
    background-color: #754F31;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 5px 15px;
    font-size: 0.9rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.optionContainer div button:hover {
    background-color: #5b3c22;
    transform: scale(1.05);
}
