* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    border: none;
    outline: none;
}

body {
    height: 100vh;
    background-color: #f4f4f4;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}


.ContainerLogin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.ContainerLogin .login {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.ContainerLogin .login .LoginImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

.ContainerLogin .login .LoginImg img {
    width: 100%;
    height: 100%;
}

.ContainerLogin .transition {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 140vh;
    width: 100%;
    position: absolute;
    left: 0;
    background-color: #b5937a;
    z-index: -1;
    opacity: 0;
}



.ContainerLogin .LoginTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 50vw;
}

.ContainerLogin .LoginTextContainer h1 {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #754F31;
}

.Text-cta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.Text-cta p {
    font-size: 0.8rem;
}

.Text-cta button {
    font-size: 0.8rem;
    color: #754F31;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 0.5rem;
}